---
import PageWrapper from '../layouts/PageWrapper.astro';
import Button from '../components/Button.astro';
---

<PageWrapper title='Forside' description='Mikrosnedkeriet Farver & Striber. miljøvenlige håndlavede havemøbler i klare farver'>
   <section>
      <h1>Mikrosnedkeriet <br />Farver & Striber</h1>
      <!-- LINE -->
      <h2 class="text-accent">Flere farver i hverdagen</h2>
      <h4 class="text-fs_red">Bæredygtige, Håndlavet, Kvalitet, Dansk produceret havemøbler</h4>
      <Button arrow  >
Se Produkter
      </Button>
      <!--@HERO -->
   </section>
   <section>
      <!--@ICONS -->
   </section>
   <section>
      <!--@PRODUCT_HIGHLIGHT -->
   </section>
   <section>
      <!--@CTA -->
   </section>
   <section>
      <!--@ETOS -->
   </section>
   <section>
      <!--@SOME -->
   </section>
</PageWrapper>
