---
import PageWrapper from "../layouts/PageWrapper.astro";


---
<PageWrapper title="Forside" description="Mikrosnedkeriet Farver & Striber. miljøvenlige håndlavede havemøbler i klare farver">
    <h1 >Farver & Striber</h1>
</PageWrapper>