---
import PageWrapper from "../layouts/PageWrapper.astro";


---
<PageWrapper title="Kontakt" description="Kontakt Farver & Striber hvis du har spørgsmål eller brug for en hjælpende hånd">
    <h1 >Kontakt Os</h1>
</PageWrapper>