---
import PageWrapper from '../layouts/PageWrapper.astro';
---

<PageWrapper
   title='Om Os'
   description='Farver giver glæde og Farver begejstrer og vi ønsker at skabe et farverigt og miljøvenligt alternativ til konventionelle havemøbler, der oftest fabrikeres i plast eller metal.'
>
<section>
   <!-- @TOP -->
      <h1 >Om Os</h1>
</section>
<section>
   <!-- @image & text -->
</section>
<section>
   <!-- @video & text -->
</section>
<section>
   <!-- @CTA -->
</section>
</PageWrapper>
