---
import ProductCard from '../components/ProductCard.astro';
import PageWrapper from '../layouts/PageWrapper.astro';
import { Shopify } from '../utils/FetchShopify';
import { ShopifyQuery } from '../utils/ShopifyQueries';

const shopify = new Shopify<ShopifyQuery.productList.responseType>();
const fetchedProducts = await shopify.fetchProducts(ShopifyQuery.productList.query);
const products = ShopifyQuery.productList.cleanupFunction(fetchedProducts);
console.log(products);
---
<PageWrapper
   title='Produkter'
   description='Vores møbler er produceret med tanke for designet, optimal siddekomfort, glæde ved flotte farver, langtidsholdbarhed og med minimum af miljøbelastning, både i produktion og når de om mange år skal kasseres. Det giver mening!'
>
   <section class='grid p-6 border-2 border-b-secondary'><h1>Produkter</h1></section>
   <section class='grid gap-6 py-6 place-items-center'>
      {
         products?.map((product) => {
            return <ProductCard product={product} />;
         })
      }
   </section>
</PageWrapper>

<script></script>
