---
import PageWrapper from "../layouts/PageWrapper.astro";


---
<PageWrapper title="Produkter" description="Vores møbler er produceret med tanke for designet, optimal siddekomfort, glæde ved flotte farver, langtidsholdbarhed og med minimum af miljøbelastning, både i produktion og når de om mange år skal kasseres. Det giver mening!">
    <h1>Produkter</h1>
</PageWrapper>