---
import PageWrapper from "../layouts/PageWrapper.astro";
import Button from "../components/Button.astro"
---
<PageWrapper title="styletile" description="">

<section class="p-2 m-2 border-secondary border-2">
      <h1>headline 1</h1>
      <h2>headline 2</h2>
      <h3>headline 3</h3>
      <h4>headline 4</h4>
      <p>paragraph</p>
</section>
<section class="p-2 m-2 border-secondary border-2">
<Button variation="primary"/>
</section>
</PageWrapper>
