---
import PageWrapper from "../layouts/PageWrapper.astro";


---
<PageWrapper title="Tilpas" description="sammensæt dit helt eget personlige møblement i f.eks. striber i dine yndlingsfarver. Alt kan lade sig gøre indenfor vores 12 varme farver.">
    <h1>Gør produktet til dit eget</h1>
</PageWrapper>