---
import PageWrapper from '../../layouts/PageWrapper.astro';
import { Shopify } from '../../utils/FetchShopify';
import { ShopifyQuery } from '../../utils/ShopifyQueries';
export async function getStaticPaths() {
  
   const shopify = new Shopify<ShopifyQuery.productList.responseType>();
   const fetchedProducts = await shopify.fetchProducts(ShopifyQuery.productList.query);
   const products = ShopifyQuery.productList.cleanupFunction(fetchedProducts);

   const pages = products.map((product) => {
      return {
         params: { produkt: product.name },
         props: { product: product },
      };
   });
   return pages;
}
const { product } = Astro.props;
---

<PageWrapper title='title' description='description'>
   <section class='grid place-items-center'>
      <h1>{product.name}</h1>
      <img src={product.image.src} alt='' class='rounded-t-[14px] max-w-[400px]' />
   </section>
</PageWrapper>
