---
const burgerButtonLineStyle = 'w-10 h-[5px] bg-secondary rounded-full transition-all'
---

<button id='BurgerButton' class='fixed top-5 left-5 z-10 h-10 w-10 flex flex-col justify-around'  >
   <div class={burgerButtonLineStyle}></div>
   <div class={burgerButtonLineStyle}></div>
   <div class={burgerButtonLineStyle}></div>
</button>



