---
import type { HTMLAttributes } from 'astro/types';

interface Props extends HTMLAttributes<"article">{

}
const { 
  ...attrs
} = Astro.props
---

<a href='/' class="z-20">
   <article class={`py-3 ${attrs.class}`} {...attrs}>
      <svg viewBox='0 0 180 95' fill='none' xmlns='http://www.w3.org/2000/svg' class="w-full">
         <path
            d='M36.3267 43.5841C36.1621 42.5689 35.531 38.81 35.2841 36.9992C34.9548 34.859 34.4884 33.1305 34.214 31.8684C32.705 31.8684 29.4399 31.594 27.1078 31.4019C26.4767 34.6944 25.1597 40.7306 24.611 43.9957C23.1019 44.2426 20.413 44.3249 17.7242 43.5018C18.1906 40.5935 28.0681 1.4129 28.6168 0.726967C29.1656 0.0410331 35.4761 0.205657 35.5585 0.726967C35.6408 1.24828 41.6221 32.3622 43.5702 43.2C42.7471 43.7488 37.3693 43.8036 36.3267 43.5567V43.5841ZM32.8147 25.6675C32.9519 25.448 31.6898 16.476 31.4977 16.476C31.3057 16.476 28.9461 25.2011 28.9735 25.5303C29.0009 25.8596 32.6775 25.887 32.8147 25.6675Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M21.5113 8.84481L16.8469 9.09175C13.1703 9.47587 11.1125 9.66793 8.61573 9.86C8.61573 12.5214 8.61573 14.9085 8.69804 18.6399C10.8656 18.7223 12.4021 18.4479 13.9111 18.3107C14.4599 18.2833 16.8744 17.7894 17.3408 17.7345C17.9444 19.5728 17.9719 20.8898 18.0267 21.5209C18.0267 22.3166 17.8621 23.7707 17.478 25.9657L13.6093 26.3773C12.3746 26.487 10.6735 26.6242 8.80779 26.6517H8.75291C8.78035 31.8648 8.83523 38.0382 8.97241 42.922C6.36586 43.9098 5.89943 43.9646 5.46043 43.9921C4.63731 44.1018 3.4575 43.9921 1.26251 43.4433L1.1802 27.5297L1.09789 19.8746L0.68633 1.38185C3.40263 0.750792 22.8557 -0.0997659 23.7612 0.229482C24.6666 0.558731 22.1972 8.78994 21.5113 8.81738V8.84481Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M92.4364 19.7135C92.4364 19.7135 87.7721 33.6516 87.4154 34.1181C87.0587 34.5845 83.3272 34.4199 82.9156 34.173C82.5041 33.926 79.5957 26.9295 79.5957 26.9295C78.608 24.7071 77.9495 22.9785 77.291 21.3871C76.605 19.6311 76.0289 18.2593 75.3429 16.3661C74.6021 14.418 73.8887 12.6072 73.2028 10.714C73.2028 10.714 69.9378 3.2236 70.4316 3.05898C70.9255 2.89436 78.2513 0.918865 78.6903 1.35786C79.1293 1.79686 84.6168 20.7286 84.9186 20.6738C85.2204 20.6189 91.723 1.35786 92.0248 0.97374C92.3266 0.589617 98.9939 2.72973 99.2683 2.97667C99.5427 3.2236 96.0856 10.6866 96.0856 10.6866C95.5094 12.031 93.7808 15.982 92.4364 19.7135Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M169.618 34.8834C167.999 36.3101 164.706 37.5723 161.908 37.0784C158.725 36.5296 157.188 35.5419 155.872 34.0877C154.143 31.8927 153.759 28.7374 154.116 26.4053C154.555 23.4146 157.353 20.2593 160.316 19.7105C159.96 19.0795 159.246 17.9545 159.137 17.735V17.7899C158.615 16.5004 158.341 13.9761 158.533 12.6866C158.643 11.836 159.246 9.36665 159.932 8.29659C161.139 6.48573 164.514 5.77236 167.56 6.29366C169.673 6.65035 172.169 7.69297 173.13 9.31177C174.062 10.9031 174.008 12.5219 173.678 14.6346C173.459 16.1711 172.416 18.0643 171.593 19.1892C170.743 20.2318 169.59 21.0824 168.383 21.7409C169.069 23.003 170.194 24.7864 170.88 25.8839C171.758 24.6767 173.953 22.372 174.803 21.4665C176.175 22.0701 177.602 24.1554 178.452 25.9663C178.452 25.9663 174.831 28.3259 173.816 30.2465C174.858 31.5909 177.273 33.8957 178.699 35.3773L173.486 39.3283C171.73 38.0387 170.441 35.8711 169.618 34.9108V34.8834ZM166.654 30.3837C165.255 28.1612 164.212 26.515 162.895 24.2103C161.688 24.8413 161.057 26.2132 160.838 27.7771C160.591 29.4234 161.139 31.4263 163.307 31.783C164.377 31.975 165.502 31.3714 166.654 30.3837ZM168.109 13.6743C168.136 12.4945 168.191 11.5342 166.243 11.2598C165.639 11.397 165.09 12.2476 164.953 13.0707C164.789 14.1956 165.2 16.1986 165.42 16.6101C166.764 16.226 167.999 14.9913 168.109 13.6743Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M109.722 9.28632C109.283 10.0546 109.722 18.7522 109.722 18.7522C109.722 18.7522 120.121 18.0663 120.286 18.5601C120.45 19.054 120.78 26.0505 120.286 26.2975C119.792 26.5444 109.722 26.8188 109.722 26.8188V35.6811C109.722 35.6811 123.359 35.2695 123.743 35.6811C124.127 36.0926 123.99 42.2112 123.743 43.7476C123.496 45.2841 102.452 45.339 101.793 45.0372C101.135 44.7354 101.491 1.6313 101.793 0.808176C102.095 -0.0149445 123.222 0.14968 123.743 0.808176C124.264 1.46667 123.276 8.62782 123.112 9.28632C122.947 9.94482 110.161 8.51807 109.722 9.28632Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M152.14 47.6983C151.508 47.5886 136.363 29.1781 136.089 29.5622C135.814 29.9464 136.418 44.8448 136.089 45.1741C135.759 45.5033 128.351 45.3662 127.885 45.1741C127.418 44.982 127.226 0.753003 127.885 0.231693C128.543 -0.289617 140.808 0.231693 140.808 0.231693C149.012 0.231693 153.402 5.30761 153.402 14.7735C153.402 22.3462 150.411 27.2575 145.061 28.8489C145.061 28.8489 162.675 46.5185 162.319 47.1221C161.962 47.7258 152.771 47.8081 152.14 47.6983ZM141.055 10.7402C141.055 10.7402 136.336 10.4933 136.116 10.7402C135.897 10.9871 135.924 20.4805 136.116 20.7C136.308 20.9195 141.055 20.7 141.055 20.7C144.457 20.7 146.158 19.0812 146.158 15.7064C146.158 12.3316 144.512 10.7128 141.055 10.7128V10.7402Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M86.867 48.7401C76.0292 49.4809 71.5021 46.2433 66.3713 42.4844C63.7922 40.5912 57.9206 34.0062 56.8231 32.7441C56.3018 32.1405 55.753 31.5094 55.2317 30.8784C54.7927 30.3296 53.6129 30.3845 53.6404 30.8509C53.6404 31.921 53.6952 33.0185 53.6952 34.0886C53.7227 36.2561 53.7776 38.4511 53.7776 40.6186C53.7776 41.0851 54.0245 43.7465 53.6129 44.0483C53.2288 44.3227 47.7139 44.6519 46.2323 44.0483C44.7507 43.4447 46.2323 0.807029 46.2323 0.807029L57.8657 0.999091C65.2464 0.999091 69.1973 6.26706 69.1973 15.2391C69.1973 22.4277 66.5085 27.0646 61.6795 28.5736L64.4507 31.0704C70.2948 35.872 78.334 39.823 83.7666 39.7681C89.1992 39.7132 94.6043 37.8749 95.2903 38.4785C95.9762 39.0821 97.7048 42.9234 97.9243 44.5147C98.1438 46.1061 90.0497 48.356 86.8396 48.7401M58.6065 11.0137C58.6065 11.0137 54.7104 10.6845 54.3537 11.0137C53.9971 11.343 54.1342 21.0558 54.3537 21.3576C54.5732 21.6594 58.6065 21.3576 58.6065 21.3576C61.5423 21.3576 62.9965 19.6839 62.9965 16.172C62.9965 12.66 61.5698 10.9863 58.6065 10.9863V11.0137Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M70.706 59.4952C68.758 59.3032 66.755 57.3003 66.9745 54.9955C67.194 52.6908 69.4713 51.1817 71.5017 51.4012C73.6967 51.6207 75.2881 53.5139 75.2332 55.8461C74.8765 58.2331 72.8461 59.7147 70.706 59.4952ZM70.6511 94.5328C70.1024 94.4779 69.4988 94.4505 66.9745 93.6822C67.194 87.8929 67.3587 74.2566 67.2489 63.8852C69.7457 63.117 72.3248 62.9524 74.9039 63.6109L74.9588 67.1777V67.068C74.9588 68.0831 74.8765 72.2536 74.8491 77.3295C74.8491 79.7989 74.8491 87.5637 74.5747 94.0938C74.5747 94.0938 71.9681 94.5602 70.6511 94.5602V94.5328Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M62.8041 59.1674C62.6395 59.5241 41.7871 58.9479 41.6225 59.1674C41.4579 59.3869 41.9792 93.8208 41.6225 94.0678C41.2658 94.3147 34.5711 94.3696 34.1595 94.0678C33.748 93.7659 34.2693 59.4692 34.1595 59.1674C34.0498 58.8656 26.0106 59.5516 25.5168 59.1674C25.0229 58.7833 24.8308 52.4727 25.5168 52.0063C26.2027 51.5398 62.5298 51.7593 62.7767 52.0063C63.0236 52.2532 62.9413 58.7833 62.7767 59.1674H62.8041Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M103.027 71.2926C106.265 73.2132 108.075 77.0544 108.075 81.9108C108.075 90.0597 103.301 94.6143 94.5488 94.6143C94.5488 94.6143 80.1441 94.8613 79.568 94.6143C78.9918 94.3674 79.2113 52.2236 79.568 51.7297C79.9246 51.2359 94.1646 51.7297 94.1646 51.7297C102.067 51.7297 106.265 55.763 106.265 63.2809C106.265 66.8752 105.057 69.6463 102.999 71.2926H103.027ZM95.756 77.7952C95.756 77.7952 89.9942 77.4934 89.8844 77.7952C89.7747 78.097 89.7747 86.5752 89.8844 86.7124C89.9942 86.8496 95.756 86.7124 95.756 86.7124C99.0759 86.7124 100.695 85.2856 100.695 82.2675C100.695 79.2494 99.0759 77.7952 95.756 77.7952ZM94.9878 61.031C94.9878 61.031 90.1039 60.8389 89.8844 61.031C89.6649 61.2231 89.7198 68.4117 89.8844 68.5488C90.049 68.686 94.9878 68.5488 94.9878 68.5488C97.7041 68.5488 98.9387 67.3416 98.9387 64.7625C98.9387 62.2108 97.7041 61.031 94.9878 61.031Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M118.995 60.3751C118.529 61.1159 118.995 69.4294 118.995 69.4294C118.995 69.4294 130.327 68.7709 130.492 69.2374C130.656 69.7038 131.013 76.3711 130.492 76.618C129.97 76.865 118.995 77.1119 118.995 77.1119V85.5626C118.995 85.5626 135.266 85.2334 135.677 85.6175C136.089 86.0016 135.952 91.8458 135.677 93.2999C135.403 94.7541 111.094 94.7541 110.38 94.4797C109.667 94.2054 110.051 53.0493 110.38 52.2811C110.709 51.5128 135.815 51.6226 136.391 52.2537C136.967 52.8847 135.869 59.7166 135.705 60.3477C135.54 60.9787 119.462 59.6343 118.995 60.3751Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M166.408 93.5198C165.557 93.4101 151.537 79.3073 151.18 79.6639C150.823 80.0206 151.619 94.1234 151.18 94.4252C150.741 94.7271 140.836 94.6173 140.205 94.4252C139.574 94.2332 139.327 52.4461 140.205 51.9522C141.083 51.4583 154.225 51.9522 154.225 51.9522C165.2 51.9522 172.197 56.7537 172.197 65.6983C172.197 72.8595 169.289 76.4263 162.127 77.9354C162.127 77.9354 180.51 92.3674 179.989 92.9436C179.468 93.5198 167.231 93.6021 166.38 93.4924L166.408 93.5198ZM157.326 60.5127C157.326 60.5127 151.482 60.2383 151.207 60.5127C150.933 60.787 150.96 71.0761 151.207 71.323C151.454 71.5699 157.326 71.323 157.326 71.323C161.524 71.323 163.636 69.5944 163.636 65.9178C163.636 62.2412 161.606 60.5127 157.326 60.5127Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M12.1273 76.9204C3.81379 75.6857 0 71.8993 0 64.8205C0 57.1929 6.28315 52.0072 14.1028 52.0072C21.9224 52.0072 26.9435 64.7656 24.529 65.232C22.1145 65.6985 18.1087 65.7534 17.2307 65.0949C16.3527 64.4364 16.1332 60.0189 13.0876 60.0189C10.3439 60.0189 8.45071 61.8024 8.45071 64.4364C8.45071 67.2075 9.68539 68.0855 14.6241 68.7989C23.2394 70.0336 27.0807 73.7651 27.0807 81.0908C27.0807 89.1849 22.0596 94.0687 13.7461 94.0687C4.41741 94.0413 -0.41156 81.2006 0.164624 79.9933C0.740809 78.7861 7.35321 79.2525 7.95683 79.9933C8.56046 80.7342 10.0969 86.4411 14.0754 86.4411C16.9563 86.4411 18.6025 84.6028 18.6025 81.9414C18.6025 78.6489 17.313 77.6337 12.1273 76.9204Z'
            fill='#E8E3D0'
         >
         </path>
         <path
            d='M63.8471 64.0498C64.094 64.4065 63.463 71.8969 62.9416 72.0066C62.4203 72.1164 61.2405 72.0066 61.2405 72.0066C57.07 72.0066 54.2166 74.3937 54.2166 80.1555C54.2166 80.1555 54.9574 94.0114 54.2166 94.2309C53.4757 94.4504 47.3023 94.4778 46.6164 94.2309C45.9305 93.9839 45.903 63.4187 46.1774 63.2267C46.4518 63.0346 53.9147 62.8151 54.1068 63.2267C54.2989 63.6382 54.244 66.4094 54.244 66.4094C55.7531 64.5437 57.8657 63.5559 60.4448 63.5559C61.46 63.5559 63.6001 63.6657 63.8745 64.0223L63.8471 64.0498Z'
            fill='#E8E3D0'
         >
         </path>
      </svg>
   </article>
</a>
