---
import NavigationButton from './NavigationButton.astro';
---
<!-- TODO tilføj fokus states for accesability -->
<nav id='NavMenu' class='fixed inset-0 -z-10 translate-x-full bg-accent transition-all pt-20'>
   <ul class='grid p-8 gap-2 h-full'>
      <NavigationButton href='/produkter'>Produkter</NavigationButton>
      <NavigationButton href='/tilpas'>Tilpas</NavigationButton>
      <NavigationButton href='/om_os'>Om os</NavigationButton>
      <NavigationButton href='/vejledning'>Vejledning</NavigationButton>
      <NavigationButton href='/faq'>FAQ</NavigationButton>
      <NavigationButton href='/kontakt'>Kontakt</NavigationButton>
   </ul>
</nav>
<!-- TODO tilføj farveskift og animation til burgerbutton -->
<script>
   const navMenu = document.querySelector('#NavMenu')!;
   const navMenuLinks = navMenu.querySelectorAll('.navButton')!;
   const burgerButton = document.querySelector('#BurgerButton')!;
   function toggleMenu() {
      navMenu.classList.toggle('!translate-x-0');
   }

   burgerButton.addEventListener('click', () => {
      console.log('click');
      toggleMenu();
   });
   navMenuLinks.forEach((link) => {
      link.addEventListener('click', () => {
         toggleMenu();
      });
   });
</script>
