---
import BurgerButton from './BurgerButton.astro';
import Navigation from './Navigation.astro';
import Logo from './Logo.astro';
---

<header class='sticky top-0 bg-accent z-30' transition:persist>
   <section class='z-30 border-b-primary border-b-2 w-full h-fit grid grid-cols-3 px-3 py-4 items-center'>
      <BurgerButton />
      <Logo class='max-w-24 py-0' />
   </section>
   <Navigation />
</header>
