---
import Logo from "./Logo.astro";


---
<footer class="bg-accent grid p-8 gap-4">
    <Logo class="place-self-center"/>
    <div class="grid text-primary">
        <h3>Kontakt</h3>
        <a href="mailto:rikke@farverogstriber.dk">email:rikke@farverogstriber.dk</a>
        <a href="tel:23318502">tlf: 23318502</a>
    </div>
    <div class="grid text-primary">
        <span>Mikrosnedkeriet “Farver og Striber”</span>
        <a href="">Møllebakken 49, 4581 </a>
        <a href="">CVR: 42188220</a>
    </div>
</footer>